.d3v-compact {
    font-size: 0.84rem;
}

.d3v-compact .navbar {
    padding: 0;
}

.d3v-compact .sidebar {
    margin-top: calc(2.5rem + 1px) !important;
}

.d3v-compact .content-wrapper {
    margin-top: calc(2.5rem + 1px) !important;
}

.d3v-compact .card-header {
    padding: 0.5rem 1.25rem;
    font-size: 1rem;
}

.d3v-compact .card-title {
    font-size: 1rem;
}

.d3v-compact .card-body {
    padding: 0.5rem 1.25rem;
}

.d3v-compact .card-footer {
    padding: 0.5rem 1.25rem;
}

.d3v-compact .content-header {
    padding-top: 8px;
}

.d3v-compact .content-header h1 {
    font-size: 1.4rem;
}

.d3v-compact .content-header p {
    margin-bottom: 0;
}

.d3v-compact .form-group {
    margin-bottom: 0.6rem;
}

.d3v-compact .form-group label {
    margin-bottom: 0.2rem;
}

.d3v-compact .dataTable tr .btn,
.d3v-compact .table-sm tr .btn {
    padding: .125rem .25rem;
    font-size: .75rem;
    line-height: 1.5;
    border-radius: .15rem;
}

.d3v-compact hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.d3v-compact .main-footer {
    padding: 0.5rem 0.5rem;
}